body {
  overflow: hidden;
  margin: 0px;
}

main{
  background-color: transparent;
  position: absolute;
  color: white;
  font-size: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  width: 100vw;
  height: 100vh;
}

.tile{
  border-radius: 20px;
  background-color: #da8de9;
}